.page-header {
  background-color: #a80000;
  text-decoration: none;
  width: 100%;
  text-decoration: none;
}

.text-justify {
  margin-right: 55px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #000000;
  text-decoration: none;
}
.gora {
  width: 70%;
  border-bottom: solid;
  border-width: 1px;
  border-color: #f0f0f0;
}

.baner {
  width: 100%;
  border-radius: 10px;
  border-bottom: solid;
  border-left: solid;
}

.content {
  margin: auto;
  width: 100%;
}

.img {
  margin: 25px;
  float: left;
  border-radius: 10px;
}

.data {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: left;
  font-size: 10pt;
  margin-left: 20px;
  margin-top: 4px;
  padding: 10px 0;
}

.plus {
  float: right;
  margin-right: 20px;
}

.post {
  margin-bottom: 15px;
  padding: 10px 10px 10px 1px;
}

.post h2 a,
.post h1 a:visited {
  color: #061a40;
}

.nav-link {
  padding: 0px 0px 0px 78px;
  color: #061a40;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

h2 {
  font-family: "Inter", sans-serif;
}

.all {
  margin: auto;
  width: 80%;
  padding-left: 220px;
  font-family: "Inter", sans-serif;
}

.nav-link2 {
  padding: 0px 70px 0px 11px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  text-decoration: none;
}
.title {
  font-size: 45px;
}
